{% extends 'learning_logs/base.html' %}

{% block title %}
    Edit Entry
{% endblock title %}

{% block content %}
    <h3>
        <a href="{% url 'learning_logs:topics'} %">Topics</a>: 
        <a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a>: 
        Edit Entry
    </h3>
    <form action="{% url 'learning_logs:edit_entry' entry.id %}", method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button name="submit">Submit</button>
    </form>
{% endblock content %}